{% extends "actionitems/base.html" %}

{% block main %}

{% if templates %}
    <h3>Select action item template: </h3>
    <div class="list-group">
        {% for template in templates %}
            <a href="{% url 'action_item_create' template.id %}" class="list-group-item">
                <h4>{{ template.name }}</h4>
                <p>{{ template.description }}</p>
            </a>
        {% endfor %}
    </div>

{% else %}
<div class="col-md-8 col-md-offset-2">

    <h3>Create new action item</h3>
    <p> {{ template.name }} </p>
    <hr>
    {% load crispy_forms_tags %}
    {% crispy form %} 

</div>


{% endif %}




{% endblock main %}

{% block js %}

<script type="text/javascript">
    function datepicker(){
        $("div.alpaca-field-date > input.alpaca-control").flatpickr();
    }

    $("#details").alpaca({
        "schema": {{ schema|safe }},
        "options": {{ options|safe }},
        "postRender": function(control) {
            if(control.childrenByPropertyId['assessment-date'] !== undefined ){
                control.childrenByPropertyId['assessment-date'].on("load", datepicker() );
            }
        }
    });        


    $("#id_due_date").flatpickr({
        "enable": [{
                from:new Date(),
                to: "3000-12-31"
        }]
     });

    $('.selectpicker').selectpicker({
        liveSearch: true
    })

</script>

{% endblock js %}
