{% extends "actionitems/base.html" %}

{% block main %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% if action_item %}
        <ul class="list-group">
            <li class="list-group-item">
                <h3>{{ action_item.title }}</h3>
            </li>
        </ul>
        <p>Confirm to propose the action item to close?</p>
        <p>Tips: make sure you have added remarks for evidence or location of the evidence for the owner to verify and close this action item</p>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'action_item' action_item.id %}" class="btn btn-default">No, take me back</a>
            <input type="submit" value="Yes, propose to close" class="btn btn-danger">
        </form>

        {% else %}
        <p>Error, no action item found</p>
        {% endif %}
    </div>
</div>


{% endblock main %}

{% block js %}

{% endblock js %}