{% extends "actionitems/base.html" %}

{% block main %}

{% if action_item %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="section">
                <h2 class="text-center">{{ action_item.title }}</h2>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-1">
    <div class="section">
            <h3>Details</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% comment %} to make each status different color {% endcomment %}
                    <p>Title: {{ action_item.title }}</p>
                    <p>Status: 
                        {% if action_item.status == "OPEN" %}
                            <span class="bg-warning">{{ action_item.get_status_display }}</span>
                        {% elif action_item.status == "OVERDUE"  %}
                            <span class="bg-danger">{{ action_item.get_status_display }}</span>
                        {% elif action_item.status == "PROPOSE-CLOSE"  %}
                            <span class="bg-info">{{ action_item.get_status_display }}</span>
                        {% elif action_item.status == "COMPLETED"  %}
                            <span class="bg-success">{{ action_item.get_status_display }}</span>
                        {% endif %}
                    
                    </p>
                    <p>Classification: {{ action_item.get_classification_display }} </p>
                    <p>Due date: {{ action_item.due_date|date:"j M Y" }}
                        {% if action_item.status == "OPEN" %} 
                        ({{ action_item.due_date|timeuntil }} to due date)
                        {% elif action_item.status == "OVERDUE"  %}
                        ({{ action_item.due_date|timesince }} past due date)
                        {% endif %}
                    </p>
                    <p>Department: {{ action_item.department.name }}</p>
                    {% if action_item.finding %}
                        <p>Finding:</p>
                        <p>{{ action_item.finding }}</p>
                    {% endif %}
                    {% if action_item.smart_action_item %}
                        <p>SMART Action Item:</p>
                        <p>{{ action_item.smart_action_item }}</p>
                    {% endif %}
                    {% comment %} to fix details name in template, no dash {% endcomment %}
                    {% for k,v in action_item.details.items %}
                    <p>{{ k|capfirst }}:
                            {% if v %}
                                {{ v|capfirst }}
                            {% else %}
                                -
                            {% endif %}
                        </p>
                    {% endfor %}
                    <hr>
                    <p>Initiator:
                        <ul>
                            {% for user in action_item.initiator.all %}
                            <li>{{ user.profile.full_name }}, {{ user.email }}</li>
                            {% empty %} - {% endfor %}
                        </ul>
                    
                    </p>
                    <p>Owner:
                        <ul>
                            {% for user in action_item.owner.all %}
                            <li>{{ user.profile.full_name }}, {{ user.email }}</li>
                            {% empty %} - {% endfor %}
                        </ul>
                    </p>
                    <p>Assignee:
                        <ul>
                            {% for user in action_item.assignee.all %}
                            <li>{{ user.profile.full_name }}, {{ user.email }}</li>
                            {% empty %} - {% endfor %}
                        </ul>
                    </p>
                    <hr>
                    {% if reminder %}
                        <a class="btn btn-sm btn-default" role="button" data-toggle="collapse" 
                        href="#collapseReminder" aria-expanded="false" aria-controls="collapseReminder">Show Reminder</a>
                        <div class="collapse" id="collapseReminder">
                            <div class="well well-sm">
                                    {% for r in reminder|dictsort:"reminder_date" %}
                                        {% if r.is_triggered %}
                                            <p>Reminder {{ forloop.counter }} -  
                                                {{ r.reminder_date|date:"j M Y" }} was triggered.
                                            </p>                                        
                                        {% else %}
                                        <p>Reminder {{ forloop.counter }} -
                                            {% if r.is_past_due %}
                                                {{ r.reminder_date|date:"j M Y" }} was not triggered. 
                                            {% else %}
                                                {{ r.reminder_date|date:"j M Y" }} 
                                                will trigger in {{ r.reminder_date|timeuntil }}
                                            {% endif %}
                                        </p>
                                        {% endif %}
    
                                    {% endfor %}
                                
                            </div>
                        </div>
                    {% else %}
                        <p>No reminders set yet</p>
                    {% endif %}
                    {% if can_edit %}
                        <a href="{% url 'reminder_add' action_item.id %}">Edit/Add reminder</a>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <small>
                    Last modified: {{ action_item.last_modified_date|date:"j M Y" }} - 
                    Published: {{ action_item.published_date|date:"j M Y" }} - 
                    Created by {{ action_item.creator.username }}
                    {% if can_edit and action_item.status in status_show_close_btn %}
                    - <a href="{% url 'action_item_edit' action_item.id %}" class="btn btn-sm btn-warning">Edit action item</a>
                    {% endif %}
                    {% if can_edit and action_item.status in status_show_close_btn %}
                    - <a href='{% url "action_item_close" action_item.id %}' class="btn btn-sm btn-danger">Close action item?</a>
                    {% endif %}
                    {% if can_propose_close and action_item.status in status_show_propose_close_btn %}
                    - <a href='{% url "action_item_propose_close" action_item.id %}' class="btn btn-sm btn-info">Propose close action item?</a>
                    {% endif %}
                    </small>
                </div>
            </div>
    </div>

    </div>

            <div class="col-md-4">
                <div class="section">
                        <h3>Updates/Remarks</h3>
                        <ul class="list-group">
                            {% for update in updates %}
                                <li class="list-group-item">
                                    <p>{{ update.text }}</p>
                                    <small>submitted on {{ update.published_date|date:"jS M Y P" }} by {{ update.user.profile.full_name }}
                                    {% if request.user == update.user %}
                                        <a href="{% url 'update_delete' action_item.id update.id %}" class="text-danger">Delete</a>
                                    {% endif %}</small>
                                </li>
                            {% empty %}
                                <li class="list-group-item">No updates/remarks for now.</li>
                            {% endfor %}
                        </ul>
                        {% if form %}
                            {% load crispy_forms_tags %}
                            {% crispy form %}             
                        {% else %}
                            <small>Only action item initiator, owner and assingee can add update/remarks</small>
                        {% endif %}
                </div>

            </div>


</div>

{% else %}
    <p>Wrong page, please click here to go back to <a href="{% url 'action_item_index' %}"></a></p>
{% endif %}

{% endblock main %}


{% block js %}
<script>
        $("#id_text").val("")
</script>
{% endblock js %}
