{% extends "actionitems/base.html" %}

{% block main %}

<div class="section">
        {% if action_items %}
        <h1>My Action Item</h1>
        <table id="indexTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Class.</th>
                    <th>Status</th>
                    <th>Due</th>
                    <th>Dept</th>
                    <th>Initiator</th>
                    <th>Owner</th>
                    <th>Assignee</th>
                    <th>Template</th>
                </tr>
            </thead>
            <tbody>
                {% for action_item in action_items %}
                
                <tr class="clickable-row" data-href="{% url 'action_item' action_item.id %}">
                    <td><a href="{% url 'action_item' action_item.id %}">{{ action_item.title }}</a></td>
                    <td>{{ action_item.get_classification_display }}</td>
                    {% if action_item.status == "OPEN" %}
                        <td class="bg-warning">{{ action_item.get_status_display }}</td>
                    {% elif action_item.status == "OVERDUE"  %}
                        <td class="bg-danger">{{ action_item.get_status_display }}</td>
                    {% elif action_item.status == "PROPOSE-CLOSE"  %}
                        <td class="bg-info">{{ action_item.get_status_display }}</td>
                    {% elif action_item.status == "COMPLETED"  %}
                        <td class="bg-success">{{ action_item.get_status_display }}</td>
                    {% endif %}
                    <td>{{ action_item.due_date|date:"Y-m-t" }}</td>
                    <td>{{ action_item.department.name }}</td>
                    <td>
                        {% for i in action_item.initiator.all %} {{ i.profile.full_name }}, {% endfor %}
                    </td>
                    <td>
                        {% for i in action_item.owner.all %} {{ i.profile.full_name }}, {% endfor %}
                    </td>
                    <td>
                        {% for i in action_item.assignee.all %} {{ i.profile.full_name }}, {% endfor %}
                    </td>
                    <td>{{ action_item.template.name }}</td>
                </tr>
                {% endfor %}
    
            </tbody>
        </table>
    
        {% else %}
            <p>No action items found</p>
        {% endif %}
    </div>

{% endblock main %}

{% block js %}
<script>
        $('#indexTable').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
            'copy', 'excel', 'pdf'
            ]
        });
</script>

{% endblock js %}