<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Action Item DB</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/bootstrap-glyphicons.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/bootstrap.min.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/alpaca.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/flatpickr.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/bootstrap-select.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/datatables.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static '/actionitems/css/style.css' %}">
    {% block style %}{% endblock style %}


</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='{% url "action_item_index" %}'>Action Item DB</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href='{% url "action_item_index" %}'> <i class="glyphicon glyphicon-th-list"></i> Dashboard</a></li>
                <li><a href="#about">About</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href='{% url "action_item_create_select" %}'>New Action Item</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ request.user.profile.full_name }}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                            <li><a href="{% url 'password_change' %}">Change Password</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% comment %} <li class="dropdown-header">Nav header</li> {% endcomment %}
                            
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

            </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="start"></div>
        <div class="row">
            <div class="col-md-12">
                {% block main %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static '/actionitems/js/jquery.min.js' %}"></script>
    <script src="{% static '/actionitems/js/datatables.min.js' %}"></script> 
    <script src="{% static '/actionitems/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/actionitems/js/handlebars.runtime.min.js' %}"></script>
    <script src="{% static '/actionitems/js/bootstrap-select.min.js' %}"></script>
    <script src="{% static '/actionitems/js/searchabledropdown.min.js' %}"></script> 
    <script src="{% static '/actionitems/js/flatpickr.min.js' %}"></script>
    <script src="{% static '/actionitems/js/alpaca.min.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>