{% extends "actionitems/base.html" %}

{% block main %}
<div class="section">
    <h1>My Action Items</h1>
    {% if action_items_a %}
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='owner' status='overdue' %}" class="card-index">
                <div class="panel panel-danger text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overdue</h3>
                    </div>
                    <div class="panel-body">
                        <p><span class="count-number">{{ action_items_a_ov }}</span></p>
                        <p><span class="label label-primary">As owner, assignee</span></p> 
                        <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='owner' status='open' %}" class="card-index">
                <div class="panel panel-warning text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Open</h3>
                    </div>
                    <div class="panel-body">
                        <p><span class="count-number">{{ action_items_a_open }}</span></p>
                        <p><span class="label label-primary">As owner, assignee</span></p> 
                        <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='owner' status='propose-close' %}" class="card-index">
                <div class="panel panel-info text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Propose to close</h3>
                    </div>
                    <div class="panel-body">
                        <p><span class="count-number">{{ action_items_a_prop }}</span></p>
                        <p><span class="label label-primary">As owner, assignee</span></p> 
                        <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='owner' status='completed' %}" class="card-index">
                <div class="panel panel-success text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Completed</h3>
                    </div>
                    <div class="panel-body">
                        <p><span class="count-number">{{ action_items_a_comp }}</span></p>
                        <p><span class="label label-primary">As owner, assignee</span></p> 
                        <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
    
    {% if action_items_i %}
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='initiator' status='overdue' %}" class="card-index">
                <div class="panel panel-danger text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Overdue</h3>
                    </div>
                    <div class="panel-body">
                            <p><span class="count-number">{{ action_items_i_ov }}</span></p>
                            <p><span class="label label-primary">As Initiator</span></p> 
                            <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='initiator' status='open' %}" class="card-index">
                <div class="panel panel-warning text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Open</h3>
                    </div>
                    <div class="panel-body">
                            <p><span class="count-number">{{ action_items_i_open }}</span></p>
                            <p><span class="label label-primary">As Initiator</span></p> 
                            <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='initiator' status='propose-close' %}" class="card-index">
                <div class="panel panel-info text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Propose to close</h3>
                    </div>
                    <div class="panel-body">
                            <p><span class="count-number">{{ action_items_i_prop }}</span></p>
                            <p><span class="label label-primary">As Initiator</span></p> 
                            <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-xs-6">
            <a href="{% url 'action_item_list' as_a='initiator' status='completed' %}" class="card-index">
                <div class="panel panel-success text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">Completed</h3>
                    </div>
                    <div class="panel-body">
                        <p><span class="count-number">{{ action_items_i_comp }}</span></p>
                        <p><span class="label label-primary">As Initiator</span></p> 
                        <small>View details ></small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endif %}
</div>



<div class="section">
    {% if action_items %}
    <h1>All Action Items in {{ department.name|default_if_none:"Department" }}, {{ company.name }}</h1>
    <table id="indexTable" class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Class.</th>
                <th>Status</th>
                <th>Due</th>
                <th>Dept</th>
                <th>Initiator</th>
                <th>Owner</th>
                <th>Assignee</th>
                <th>Template</th>
            </tr>
        </thead>
        <tbody>
            {% for action_item in action_items %}
            
            <tr class="clickable-row" data-href="{% url 'action_item' action_item.id %}">
                <td><a href="{% url 'action_item' action_item.id %}">{{ action_item.title }}</a></td>
                <td>{{ action_item.get_classification_display }}</td>
                {% if action_item.status == "OPEN" %}
                    <td class="bg-warning">{{ action_item.get_status_display }}</td>
                {% elif action_item.status == "OVERDUE"  %}
                    <td class="bg-danger">{{ action_item.get_status_display }}</td>
                {% elif action_item.status == "PROPOSE-CLOSE"  %}
                    <td class="bg-info">{{ action_item.get_status_display }}</td>
                {% elif action_item.status == "COMPLETED"  %}
                    <td class="bg-success">{{ action_item.get_status_display }}</td>
                {% endif %}
                <td>{{ action_item.due_date|date:"Y-m-t" }}</td>
                <td>{{ action_item.department.name }}</td>
                <td>
                    {% for i in action_item.initiator.all %} {{ i.profile.full_name }}, {% endfor %}
                </td>
                <td>
                    {% for i in action_item.owner.all %} {{ i.profile.full_name }}, {% endfor %}
                </td>
                <td>
                    {% for i in action_item.assignee.all %} {{ i.profile.full_name }}, {% endfor %}
                </td>
                <td>{{ action_item.template.name }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    {% else %}
        <p>No action items found</p>
    {% endif %}
</div>

{% comment %}

{% endcomment %}

{% endblock main %}

{% block js %}
<script>
        $('#indexTable').DataTable({
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
            'copy'
            ]
        });
        /* $('.clickable-row').click(function(){
            window.location = $(this).data("href");
        }); */
</script>

{% endblock js %}