{% extends "actionitems/base.html" %}

{% block main %}

{% if item %}

    {% load crispy_forms_tags %}
    {% crispy form %}


{% else %}
    <p>Wrong page, please click here to go back to <a href="{% url 'item_index' %}"></a></p>
{% endif %}

{% endblock main %}

{% block js %}

<script type="text/javascript"> 
    $("#details").alpaca({
        "schema": {{ schema|safe }},
        "options": {{ options|safe }}
    });
    $("#id_due_date").flatpickr({
        "enable": [
            {
                from:new Date(),
                to: "3000-12-31"
            }
        ]
     });

     reminder("3000-12-31");

     $("#id_due_date").change(function(){
         console.log("hahaa");
        var dueDate = $("#id_due_date").val();
        reminder(dueDate);
     });

     function reminder(dueDate){

        $("#id_array_reminder_0").flatpickr({
            "enable": [
                {
                    from:new Date(),
                    to: dueDate
                }
            ]
        });
        $("#id_array_reminder_1").flatpickr({
            "enable": [
                {
                    from:new Date(),
                    to: dueDate
                }
            ]
        });
        $("#id_array_reminder_2").flatpickr({
            "enable": [
                {
                    from:new Date(),
                    to: dueDate
                }
            ]
        });
     }


</script>

{% endblock js %}
