{% extends "actionitems/base.html" %}

{% block style %}
<style>
    .form-user-width {width:200px !important}

</style>

{% endblock style %}

{% block main %}

{% load crispy_forms_tags %}

<p>Add People to your Action Item</p>

{% crispy form_role helper %} 


{% endblock main %}

{% block js %}

<script type="text/javascript">

    //data-live-search="true"

    $("#button-id-add").click(function(){
        var totalForms = parseInt($("#id_form-TOTAL_FORMS").val());
        $("#id_form-TOTAL_FORMS").val(totalForms+ 1);
        var idNum = totalForms;
        var cloned = $(".itemrole-form:first").clone();
        htmlToAdd = cloned[0].outerHTML.replace(/(form-)(\d{1})(-)/g, function(match,p1,p2,p3){
            return [p1,idNum,p3].join("");
        });

        $(htmlToAdd).insertBefore( ".form-actions" );
    });

    $("#button-id-minus").click(function(){
        var totalForms = parseInt($("#id_form-TOTAL_FORMS").val());
        if(totalForms>1){
            $("#id_form-TOTAL_FORMS").val(totalForms-1);
            $(".itemrole-form:last").remove();
        }
    });
</script>

{% endblock js %}
