{% extends "actionitems/base.html" %}
{% block style %}
<style>
    .close {
        margin-top:5px;
    }

</style>

{% endblock style %}


{% block main %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Add reminder for {{ action_item.title }}</h3>
        <ul class="list-group">
            <li class="list-group-item">
                {{ action_item.due_date|timeuntil }} until due date. ({{ action_item.due_date|date:"j M Y" }})
            </li>
        </ul>
        {% comment %} formset formset formset {% endcomment %}
            {% load crispy_forms_tags %}
            {% crispy formset helper %}
            <a href="{% url 'action_item' action_item.id %}" class="btn btn-info"> << Back </a> 
    </div>
</div>


{% endblock main %}

{% block js %}
<script>

    $(".datetimeinput").flatpickr({
        "dateFormat": "Y-m-d",
        "enable": [{
            from:new Date(),
            to: "{{ action_item.due_date|date:'Y-m-d' }}"
        }]
    });

    function addDatePicker(){
        $(".datetimeinput:last").val("");
        $(".datetimeinput:last").flatpickr({
            "dateFormat": "Y-m-d",
            "enable": [{
                from:new Date(),
                to: "{{ action_item.due_date|date:'Y-m-d' }}"
            }]
        });
    }

    addDatePicker();
    $("#button-id-add").click(function(){
        var totalForms = parseInt($("#id_form-TOTAL_FORMS").val());
        $("#id_form-TOTAL_FORMS").val(totalForms+ 1);
        var idNum = totalForms;
        var cloned = $(".datepicker-set:first").clone();
        htmlToAdd = cloned[0].outerHTML.replace(/(form-)(\d{1})(-)/g, function(match,p1,p2,p3){
            return [p1,idNum,p3].join("");
        });
        console.log(htmlToAdd);

        $(htmlToAdd).insertBefore( ".form-actions" );
        addDatePicker();
    });
    /*
    $("#button-id-minus").click(function(){
        var totalForms = parseInt($("#id_form-TOTAL_FORMS").val());
        if(totalForms>1){
            $("#id_form-TOTAL_FORMS").val(totalForms-1);
            $(".datepicker-set:last").remove();
        }
    });
    */

    $("button[name$='-DELETE']").click(function(x){
        console.log(x.target.name.charAt(x.target.name.search(/\d/g)));
        formNum = x.target.name.charAt(x.target.name.search(/\d/g));
        $(".datepicker-set").has("#div_id_form-" + formNum + "-reminder_date").hide();
        $("input[name='form-" + formNum + "-DELETE']").val("on");
        console.log(x.value);
    });
        
</script>

{% endblock js %}