{% extends "actionitems/base.html" %}

{% block main %}

{% if templates %}
    <h3>Select action item template: </h3>
    <div class="list-group">
        {% for template in templates %}
            <div class="list-group-item">
                <h4>{{ template.name }}</h4>
                <p>{{ template.description }}</p>
                <a href="{% url 'template_csv_dl' template.id %}">Download csv</a>
            </div>
        {% endfor %}
    </div>

{% endif %}

{% endblock main %}

{% block js %}
<script></script>

{% endblock js %}