{% extends "actionitems/base.html" %}

{% block main %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% if update %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ update.text }}
            </li>
        </ul>
        <p>Confirm delete?</p>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'action_item' action_item_id %}" class="btn btn-default">No, take me back</a>
            <input type="submit" value="Yes, delete this update" class="btn btn-danger">
        </form>

        {% else %}
        <p>Error, no updates found</p>
        {% endif %}
    </div>
</div>


{% endblock main %}

{% block js %}

{% endblock js %}