<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ActionItemDB - Effective Follow Up System</title>
    {% load static %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static '/user/vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" >

    <!-- Custom Fonts -->
    <link href="{% static '/user/vendor/font-awesome/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" >
    {% comment %} <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet"> 
    

    <!-- Theme CSS -->
    <link href="{% static '/user/css/grayscale.min.css' %}" type="text/css" rel="stylesheet" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="light">ActionItem</span>DB
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    {% comment %} <li>
                        <a class="page-scroll" href="#download">Download</a>
                    </li> {% endcomment %}
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li><a href='{% url "action_item_index" %}' class="btn btn-primary active">Dashboard</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}" class="btn btn-primary active">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Action Item DB</h1>
                        <p class="intro-text">Follow up all your action items (and more!) until closure</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Action Item DB</h2>
                <p>Quickly set up an action item and forget it. You and the assignee will be notified periodically.</p>
                <h3>How it works</h3>
                <p>1. Add your action item - via online form or excel spreadsheet</p>
                <p>2. And done! - action item summary will be sent monthly and followed up before due date.</p>
		<h3>Initiator, Assignee and Owner</h3> 
		<img src="{% static '/user/img/actionitemdb-explain.jpg' %}">
            </div>
        </div>
    </section>

    {% comment %} <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Download Grayscale</h2>
                    <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Action Item DB</h2>
                <p>Feel free to email us to provide some feedback on our system, give us suggestions for new features, or to just say hello!</p>
                <p><a href="mailto:amirulabu@gmail.com">amirulabu@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/AmirulAbu" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    {% comment %} <!-- Map Section -->
    <div id="map"></div> {% endcomment %}

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; ActionItemDB 2018</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{% static '/actionitems/js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static '/user/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    {% comment %} <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> {% endcomment %}

    <!-- Theme JavaScript -->
    <script src="{% static '/user/js/grayscale.min.js' %}"></script>

</body>

</html>
