{% extends "actionitems/base.html" %}

{% block main %}

{% if alert_success %}
<div class="alert alert-success" role="alert">{{ alert_success }}</div>
{% endif %}

{% load crispy_forms_tags %}
{% crispy form %} 

<p>Lost password? <a href="{% url 'password_reset' %}">Reset Password</a></p>


{% endblock %}
