{% extends "actionitems/email/base.html" %}
{% block content %}
<p>Hi {% for user in action_item.assignee.all %}{{ user.profile.full_name }}, {% endfor %}</p>

<p>This is a reminder email for action item, <b>{{ action_item.title }}</b></p>
<p>Details for the action item as below;</p>

<p>Status: {{ action_item.get_status_display }}</p>
<p>Classification: {{ action_item.get_classification_display }} </p>
<p>Due date: {{ action_item.due_date|date:"j M Y" }}</p>
<p>Department: {{ action_item.department.name }}</p>
{% if action_item.finding %}
<p>Finding:</p>
<p>{{ action_item.finding }}</p>
{% endif %}
{% if action_item.smart_action_item %}
<p>SMART Action Item:</p>
<p>{{ action_item.smart_action_item }}</p>
{% endif %}
{% for k,v in action_item.details.items %}
<p>{{ k|capfirst }}:
        {% if v %}
            {{ v|capfirst }}
        {% else %}
            -
        {% endif %}
    </p>
{% endfor %}
<p>Initiator:
    <ul>
        {% for user in action_item.initiator.all %}
        <li>{{ user.profile.full_name }}, {{ user.email }}</li>
        {% empty %} - {% endfor %}
    </ul>

</p>
<p>Owner:
    <ul>
        {% for user in action_item.owner.all %}
        <li>{{ user.profile.full_name }}, {{ user.email }}</li>
        {% empty %} - {% endfor %}
    </ul>
</p>
<p>Assignee:
    <ul>
        {% for user in action_item.assignee.all %}
        <li>{{ user.profile.full_name }}, {{ user.email }}</li>
        {% empty %} - {% endfor %}
    </ul>
</p>

<p>View more info and send an update on this action item 
    <b><a href="{{ full_url }}{% url 'action_item' action_item.id %}">here</a></b>
</p>

{% comment %} link to url, to send update on the mildstone {% endcomment %}
{% endblock content %}