{% extends "actionitems/email/base.html" %}
{% block content %}
<p>Hi {{ user.profile.full_name }},</p> 

<p>Summary for all your open and overdue action items on ActionItemDB.</p>

<ol>
    {% for ai in action_items|dictsort:"published_date" %}
    <li><a href="{{ full_url }}{% url 'action_item' ai.id %}">{{ ai.title }} ({{ ai.get_status_display }})</a></li>  
    {% endfor %}
</ol>
{% endblock content %}