.container {
    /* width: 800px; */
}
.start {
    padding-top: 80px;
}

#details {
    padding: 0;
}

.alpaca-field-object {
    padding: 0;
}

.form-actions {
    padding: 20px 0;
}

.navbar-nav > li:hover {
    background-color: #e9e9e9;
}