.start {
    padding-top: 80px;
}

#details {
    padding: 0;
}

.alpaca-field-object {
    padding: 0;
}

.form-actions {
    padding: 20px 0;
}

.navbar-nav > li:hover {
    background-color: #e9e9e9;
}

@media (max-width:767px) {
    .navbar-nav .open .dropdown-menu {
     background-color:#0a354e;
    }
}

a.card-index {
    color: #000;
}

a.card-index:hover {
    text-decoration: none;
}

a.card-index div.panel:hover {
    background-color: rgb(221, 221, 221);
}

span.count-number {
    font-size: 30px;
}

.space-top {
    padding-top: 20px;
}

div.section {
    /* padding-bottom: 20px; */
    /* border-bottom: solid 3px rgb(175, 175, 175); */
    margin-bottom: 30px;
    background-color: #EFF8FB;
    padding: 10px 20px;
    border-radius: 15px;
}

table.table tr {
    cursor: pointer;
}

table.table {
    background-color: #fff;
}